* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
}

.clearfix {
  content: “ “;
  display: table;
  clear: both;
}

.grey {
  background-color: lightgrey;
}

h2 {
  font-size: 40px;
  font-weight: 900;
}

/*               wrapper            */

.wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  /* padding-top: 200px; */
}

.container-1 {
  display: inline-block;
  float: left;
  width: 70%;
}

.container-2 {
  float: left;
  display: inline-block;
  width: 30%;
  padding-top: 30px;
}

.container-text {
  text-align: left;
  color: #23272a;
}

.container-text p {
  padding-top: 20px;
  font-size: 20px;
}
/*             fine  wrapper            */

/*             nav            */

nav {
  position: fixed;
  background-color: #2a5ee8;
  width: 100%;
  z-index: 1;
}

#navbar {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;

}

.img {
  display: inline-block;
  float: left;
  width: 20%;
}

.menu {
  display: inline-block;
  float: left;
  text-align: center;
  width: 60%;
  padding-top: 5px;
}

.menu li {
  display: inline;
  list-style: none;
  padding-right: 20px;
  line-height: 100%;
}

.menu li a {
  color: white;
  text-decoration: none;
  text-align: center;

}

.accedi {
  display: inline-block;
  float: right;
  width: 20%;
}

.accedi a {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 50px;
  float: right;
}



/*          fine navbar               */

/*                 header           */
.banner {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.text h1 {
  font-size: 50px;
  font-weight: 900;
}

.text p,
.buttons {
  font-size: 20px;
}

.buttons {
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  margin-top: 30px;
}

.buttons:hover {
  cursor: pointer;
}

.button-1 {
  background-color: white;
  color: #23272a;
  margin-right: 20px;
}

.button-1:hover {
  background-color: #23272a;
  color: white;
}

.button-1 span {
  margin-right: 10px;
}

.button-2 {
  background-color: #23272a;
  color: white;
}

.button-2:hover {
  background-color: white;
  color: #23272a;
}

/*          header    */

/*               main            */


.horizontal-section {
  width: 100%;
  height: 100%;
  padding-bottom: 150px;
  padding-top: 150px;

}

}

/*             middle            */



/*              fine middle            */

/*             bottom            */
.bottom {
  width: 100%;
}
/*            fine bottom            */

.last-section{
  width: 100%;
  background-color: lightgrey;
}

.last-section-text {
  text-align: center;
}

.wrapper img{
  display: block;
  margin-left: auto;
  margin-right: auto
}

h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}

.buttons > span{
  padding-right: 15px;
} 

.button-3{
  color: white;
  background-color: #5964F2;;
}

.last-section-button {
  width: 100%;
  text-align: center;
}
/*              fine main            */

/*              footer            */
footer{
  width: 100%;
  background-color:  #23272a;
  padding: 50px 0;
}

footer h3{
  color: #5964F2;
  font-size: 40px;
  text-align: left;
  margin-bottom: 10px;
}

/*              footer prima parte            */
footer .prima-parte-footer {
  display: inline-block;
  float: left;
  width: 20%;
  display: inline-block;
  padding-bottom: 100px;
}

footer .prima-parte-footer .italiano{
  height: 20px;
}

footer .prima-parte-footer .italiano img{
  display: inline-block;
  width: 30px;
  height: 20px;
  padding-top: 8px ;
  
}

footer .prima-parte-footer p{
  display: inline-block;
  line-height: 20px;
  color: white;
  padding-bottom: 10px;
}

footer .prima-parte-footer p a{
  display: inline-block;
  line-height: 20px;
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
  text-align: ;
}

.icons a i{
  font-size: 22px;
  color: white;
  padding: 20px 20px 0 0;
}
/*                fine prima parte footer             */


/*                seconda parte footer             */

.seconda-parte-footer{
  display: inline-block;
  float: left;
  width: 80%;
  padding-left: 300px;
}

.footer-section  {
  display: inline-block;
  margin-right: 100px;
  text-align: left;
}

.footer-section h5{
  padding-bottom: 10px;
  color: #5964F2;
}

.footer-section a{
  display: block;
  color: white;
  padding-bottom: 10px;
  font-size:  13.26px;
  text-decoration: none;
}

.registrati {
  position: relative;
  border-top: 1px solid #5964F2;
  width: 80%;
  padding: 20px 0;
}

.registrati img{
  float: left;

}

.register-button{
  float: right;
  border-radius: 50px;
  border: none;
  padding: 10px;
}

hr {
  border: #5964F2 ;
}


